<ion-content>
  <div class="contenido">
    <form [formGroup]="formAddSong" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <!-- Columna 1: Nombre, Etiqueta, Introducción -->
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nombre de la canción</ion-label>
              <ion-textarea
                [autoGrow]="true"
                formControlName="name"
                style="white-space: pre-wrap"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Etiqueta</ion-label>
              <ion-textarea
                [autoGrow]="true"
                formControlName="label"
                style="white-space: pre-wrap"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Introducción</ion-label>
              <ion-textarea
                [autoGrow]="true"
                formControlName="introduction"
                style="white-space: pre-wrap"
              ></ion-textarea>
            </ion-item>
          </ion-col>

          <!-- Columna 2: Letra 1, Interludio -->
          <ion-col>
            <ion-item>
              <ion-label position="floating"
                >Letra y acordes de la canción</ion-label
              >
              <ion-textarea
                [autoGrow]="true"
                formControlName="letter1"
                style="white-space: pre-wrap"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Interludio</ion-label>
              <ion-textarea
                [autoGrow]="true"
                formControlName="interlude"
                style="white-space: pre-wrap"
              ></ion-textarea>
            </ion-item>
          </ion-col>

          <!-- Columna 3: Letra 2, Final -->
          <ion-col>
            <ion-item>
              <ion-label position="floating"
                >Letra y acordes de la canción</ion-label
              >
              <ion-textarea
                [autoGrow]="true"
                formControlName="letter2"
                style="white-space: pre-wrap"
              ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Final</ion-label>
              <ion-textarea
                [autoGrow]="true"
                formControlName="end"
                style="white-space: pre-wrap"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button type="submit">Enviar</ion-button>
      <ion-button (click)="goToDashboard()">Volver</ion-button>
    </form>
  </div>
</ion-content>
