
ion-menu {
  width: var(--menu-width);
  font-family: 'Poppins', sans-serif;
}

ion-menu ion-content {
  --background: var(--menu-background);
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

/* Transición suave para el menú */
ion-menu.menu-pane-visible {
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Perfil de Usuario */
.user-profile {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid var(--menu-border-color);

  ion-avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    border: 4px solid var(--menu-item-active-background);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  ion-title {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--menu-profile-name-color);
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 0.9em;
    font-weight: 300;
    color: var(--menu-profile-role-color);
    margin-top: 5px;
  }
}

/* Lista de Navegación */
#menu-list {
  background: transparent;
  padding: 15px;

  ion-item {
    --background: transparent;
    --border-radius: 12px;
    --padding-start: 15px;
    --inner-padding-end: 15px;
    --min-height: 55px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

    ion-icon {
      color: var(--menu-item-color);
      font-size: 22px;
      transition: color 0.3s ease;
    }

    ion-label {
      color: var(--menu-item-color);
      font-weight: 500;
      font-size: 1em;
      transition: color 0.3s ease;
    }

    // Estilo al pasar el mouse
    &:hover {
      --background: var(--menu-item-hover-background);
    }

    // Estilo del item seleccionado
    &.selected {
      --background: var(--menu-item-active-background);
      box-shadow: 0 5px 20px -5px var(--menu-item-active-background);

      ion-icon,
      ion-label {
        color: var(--menu-item-active-color);
      }
    }
  }
}

/* Footer del Menú */
ion-menu ion-footer {
  background: var(--menu-background);
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);

  ion-toolbar {
    --background: transparent;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 5px;
    --padding-bottom: 5px;
  }

  ion-button {
    --border-radius: 12px;
    --box-shadow: none;
    height: 50px;
    text-transform: none;
    font-size: 1em;
    font-weight: 500;
    --background: var(--menu-item-hover-background);
    --background-activated: #3a3e52;
    
    ion-icon {
        margin-right: 12px;
        font-size: 22px;
    }
  }
}
